include ./header

main#error401 
    div 
        h1 No tienes permisos para estar aquí
        button 
            a(href="/") Iniciar sesión
            
script(src='//cdn.jsdelivr.net/npm/sweetalert2@11')
script(src='../static/js/logout.js')