include ./header

main#adminCreate 
    form(action="/createMovie", method="post")
        input#title(type="text", name="title", placeholder="Título")
        input#urlImage(type="text", name="urlImage", placeholder="URL Imagen")
        input#year(type="number", name="year", placeholder="Año")
        input#director(type="text", name="director", placeholder="Director")
        input#genre(type="text", name="genre", placeholder="Género")
        input#runtime(type="number", name="runtime", placeholder="Duración")
        input(type="submit", value="Crear Pelicula")