include ./header

main#dashboard
    button#search
        img(src="../static/img/searching.svg", alt="Buscar")
        h2 Buscar Película
    button#myMovies
        img(src="../static/img/movie.svg", alt="Mis Películas")
        h2 Mis Películas
        
script(src='//cdn.jsdelivr.net/npm/sweetalert2@11')
script(src='../static/js/dashboard.js')
script(src='../static/js/logout.js')