include ./header

div#dashboard
    button#search
        img(src="../static/img/searching.svg", alt="Buscar")
        h2 Buscar Película
    button#myMovies
        img(src="../static/img/clapperboard.svg", alt="Mis Películas")
        h2 Mis Películas

script(src='../static/js/dashboard.js')