doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Films
        link(rel="stylesheet", href="../static/css/reset.css")
        link(rel="stylesheet", href="../static/css/style.css")
    body 

        if url != "/" && url != "/signup"
            header
            ul 
                li Panel de Control a(href="dirección panel de control")  
                li Buscador de películas a(href="dirección buscador de pelicula") 
                li Mis películas a(href="dirección mis películas") 
                li Salir a(logout)
                button#menu Menú