

head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel="stylesheet", href="../static/css/style.css")
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  title Home
form#login-form.login(action='/dashboard' method='post')
  header
    img(src='./static/img/clapperboard.svg' alt='clapperboard')
  .field
    span.fa.fa-user
    input#login-email(type='text' placeholder='Email')
  .field
    span.fa.fa-lock
    input#login-password(type='password' placeholder='Password')
  input.submit(type='submit' value='Registrar')
  span.login-form-copy Or Login with
  .social-icons
    .social-icon.google
      span.fa.fa-google
      button#googleLogin(type='button')
  span.login-form-copy