/* ------------------- ESTILOS GENERALES ------------------- */

h2 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

header {
    height: 8vh;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid black;
    padding: 10px;
}

.drop{
    display: none;
}


input:checked  ~ ul{
    display:block;
}

input {
    display: none;
}

label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

a{
    text-decoration:none;
}

label:hover{
    background: grey;
}

input:checked ~ label {
    background: lightgrey; 
}
  









/* ------------------- ESTILOS DASHBOARD ------------------- */

#dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 75px);
    justify-content: space-evenly;
}

#dashboard button {
    width: fit-content;
    padding: 15px;
    border-radius: 20px;
}

#dashboard img {
    width: 50vw;
}


/* ------------------- ESTILOS USRMOVIES ------------------- */

#usrMovies li {
    display: flex;
    padding: 10px;
    margin: 5px;
    border: solid 1px black;
    border-radius: 5px;
}

#usrMovies img.poster {
    width: 30vw;
    height: fit-content;
    border-radius: 5px;
}

#usrMovies button.favorite {
    border: none;
    background: none;
    padding: unset;
    position: absolute;
    right: 15px;
    margin-top: -50px;
}

#usrMovies button.favorite img {
    width: 10vw;
}

#usrMovies .info {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 45vw;
}


/* ------------------- ESTILOS USRMOVIES ------------------- */

#adminCreate form {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 75px);
}

#adminCreate input {
    height: 5vh;
    margin: 10px;
    text-align: center;
}