/* ------------------- ESTILOS GENERALES ------------------- */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Para el h2 */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap");

/* para los p */

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background-image: linear-gradient(40deg, #ffffb1 0, #ffeca7 25%, #f2d59d 50%, #dcbf93 75%, #c7ac8a 100%); */
  /* background-image: radial-gradient(circle at 48.49% 49.13%, #ffd54d 0, #ffc64a 25%, #f8b647 50%, #eda744 75%, #e39942 100%); */
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.2) 60%
  );

  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.8rem;
  font-weight: bold;
  color: #222222;
}

p {
  font-family: "Playfair Display", serif;

  line-height: 3rem;
  font-size: 1.8rem;
  text-align: justify;


}

.drop {
  display: none;
}

input:checked ~ ul {
  display: block;
}

input#menu {
  display: none;
}

label {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
}

a {
  text-decoration: none;
}

label:hover {
  background: grey;
}

input:checked ~ label {
  background: lightgrey;
}

/*--------------------ESTILOS DE LA PAGINA MAIN-----------------------*/

#home .login {
  position: absolute;
  top: 50%;
  left: 50%;
  right: -30%;
  transform: translate(-50%, -50%);
  padding: 40px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 5px;
  box-shadow: 1px 1px 20px white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#home .login header {
  margin-bottom: 25px;
  margin: 0 0 25px 0;
}

#home img {
  position: relative;
  width: 100%;
  top: 50%;
  border-radius: 50%;
  box-shadow: 1px 1px 15px whitesmoke;
}

#home .field {
  border: 1px solid whitesmoke;
  border-radius: 50px;
  background-color: transparent;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
}

#home .field span {
  color: white;
  width: 40px;
  line-height: 45px;
  text-align: center;
}

#home .field input {
  width: 100%;
  height: 45px;
  font-size: 1.1rem;
  padding: 5px;
  color: whitesmoke;
  background-color: transparent;
  border: none;
}

#home .forgot-password {
  width: 100%;
  margin-bottom: 15px;
}

#home .forgot-password a {
  color: white;
  text-decoration: none;
}

#home .forgot-password a:hover {
  text-decoration: underline;
}

#home .submit {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 45px;
  margin-bottom: 25px;
  padding-right: 69px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: white;
  background-color: transparent;
  border: 1px solid whitesmoke;
  border-radius: 125px;
}

#home .submit:hover {
  cursor: pointer;
  background-color: rgb(16, 16, 61);
}

#home .login-form-copy {
  margin-bottom: 15px;
}

#home .login-form_sign-up {
  text-decoration: none;
  color: red;
}

#home .social-icons {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 5px;
}

#home .social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  width: 50px;
  cursor: pointer;
  height: 50px;
  color: #fff;
}

#home .google {
  background-color: #ca3224;
}

#home input:focus,
input:hover,
input:active {
  outline: none;
}

#home #googleLogin {
  display: inline;
  background-color: #ca3224;
  border: none;
}

/*---------------------MENU DESPLEGABLE------------------------------*/

nav#contenedor {
  margin-top: 5px;
  position: static;
  padding: 10px;
  border-bottom: 1px solid black;
}

nav ul {
  display: none;
}

nav input:checked ~ ul {
  display: block;
}

nav input {
  display: none;
}

nav label {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  width: 60px;
  height: 40px;
  line-height: 37px;
  font-weight: bold;
  font-size: medium;
  text-align: center;
  user-select: none;
  background-color: lightgray;
}
.drop {
  position: absolute;
  z-index: 2;
  width: 97%;
}

/* Estilo del boton cuando se pasa el mouse por encima*/

nav label:hover {
  background: grey;
}

/* Estilo del boton cuando el menú está expandido*/

nav input:checked ~ label {
  background: lightgrey;
}

nav ul {
  margin-top: 0;
  padding: 0;
  width: 95%;
}

nav li {
  display: block;
  background: lightgray;
  margin-right: 10px;
  padding: 10px;
  list-style: none;
  border: 2px solid rgb(99, 96, 96);
  text-align: center;
}


nav li a {
  font-size: large;
  color: black;
}

/*Estilo cuando el mouse pasa encima de cada link del menu*/

nav li:hover {
  filter: brightness(110%);
}

/* ------------------- ESTILOS ERRORES VALIDACIÓN ------------------- */

.err,
.err::placeholder {
  color: red;
}

#home .popuptext {
  left: 0%;
  margin-left: 0%;
}

.popuptext {
  width: 90%;
  background-color: rgb(255, 67, 67);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: relative;
  z-index: 1;
  left: 50%;
  margin-left: -45%;
}

.popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(255, 67, 67) transparent transparent transparent;
}

/* ------------------- ESTILOS DASHBOARD ------------------- */

#dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 75px);
  justify-content: space-evenly;
}

#dashboard button {
  width: fit-content;
  padding: 15px;
  border-radius: 20px;
}

#dashboard img {
  width: 50vw;
}

/* ------------------- ESTILOS USRMOVIES ------------------- */

#usrMovies li {
  display: flex;

  justify-content: space-between;
  padding: 10px;
  margin: 5px;
  background: hsla(175, 100%, 74%, 0.2);
  box-shadow: 0 8px 32px 0 #2525255e;
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid #5c5c5c2e;
  border-radius: 5px;
}

#usrMovies div.card {
  display: flex;
}

#usrMovies img.poster {
  width: 30vw;
  height: fit-content;
  border-radius: 5px;
}

#usrMovies button.favorite {
  width: 15vw;
  border: none;
  background: none;
  margin-top: auto;
}

#usrMovies button.favorite img {
  width: 10vw;
}

#usrMovies .info {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 45vw;
}

/* ------------------- ESTILOS FILM  ------------------- */


.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
.wraperloading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.fillspiner {
  position: absolute;
  top: 150px;
  padding: 35px;
  border-radius: 20px;
  background: rgba(210, 210, 210, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.loading {
  width: 30rem;
  height: 30rem;
  /* transform-style: preserve-3d; */
  perspective: 800px;
}
.loading .arc {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-bottom: 3px solid aqua;
}
.loading .arc:nth-child(1) {
  animation: rotate1 1.15s linear infinite;
}
.loading .arc:nth-child(2) {
  animation: rotate2 1.15s linear infinite;
}
.loading .arc:nth-child(3) {
  animation: rotate3 1.15s linear infinite;
}
.loading .arc:nth-child(1) {
  animation-delay: -0.8s;
}
.loading .arc:nth-child(2) {
  animation-delay: -0.4s;
}
.loading .arc:nth-child(3) {
  animation-delay: 0s;
}

@keyframes rotate1 {
  from {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
  }
}
@keyframes rotate2 {
  from {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
  }
  to {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
  }
}
@keyframes rotate3 {
  from {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
  }
}

.searchTitleMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 5px;
  border: solid 1px black;
  border-radius: 5px;
}

.wraperserchtitle {
  display: flex;
  background: hsla(175, 100%, 74%, 0.2);
  box-shadow: 0 8px 32px 0 #2525255e;
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid #5c5c5c2e;
}

.containersearchfilm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 1rem;
}

.containersearchfilm h2 {
  margin: 0.3rem;
}

.containersearchfilm p {
  margin: 0.3rem;
}

.postersearchtitle {
  width: 40vw;
  border-radius: 5px;
}

.wraperserchtitle button.favorite {
  width: 1px;
  border: none;
  background: none;
}

img {
  width: 15vw;
}

.containersearchcoments h2 {
  margin: 1rem 0;
}

.containersearchcoments p {
  margin-bottom: 1rem;
  padding: 0.8rem;
  background: #16f1df27;
  box-shadow: 0 8px 32px 0 #2525255e;
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid #5c5c5c2e;
}

#usrMovies button.favorite {
  border: none;
  background: none;
  margin-top: auto;
  /* padding: unset;
    position: absolute;
    right: 15px;
    margin-top: -50px; */
}

.searchTitleMain button.favorite img {
  width: 10vw;
}

.searchTitleMain .info {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 45vw;
}

/* ------------------- ESTILOS ADMINMOVIES ------------------- */

#adminMovies {
  display: flex;
  flex-direction: column;
}

#adminMovies button#createFilm {
  padding: 15px;
  margin: 15px 10px 10px;
}

#adminMovies li {
  display: flex;
  padding: 10px;
  margin: 5px;
  border: solid 1px black;
  border-radius: 5px;
  justify-content: space-between;
}

#adminMovies div.card {
  display: flex;
}

#adminMovies img.poster {
  width: 30vw;
  border-radius: 5px;
}

#adminMovies .info {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 45vw;
}

div#buttons {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

#adminMovies button.button {
  border: none;
  background: none;
}

#adminMovies button.button img {
  width: 10vw;
}

/* ------------------- ESTILOS CREATE & EDIT MOVIES ------------------- */

#adminCreate form {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 75px);
}
.popuptext {
  margin-left: -100%;

}

#adminCreate input {
  height: 5vh;
  margin: 10px;
  text-align: center;
}

/*---------------------------ESTILOS SEARCH---------------------------*/

input {
  margin: auto;
  text-align: center;
  display: flex;
  width: 89%;
  height: 38px;
  border-radius: 20px;
  margin-top: 9px;
  background-color: whitesmoke;
  box-sizing: border-box;
  padding: 8px;
}

input[type="submit" i] {
  padding-left: 32%;
}

/*---------------------------ResponsiveTablet---------------------------*/
@media (min-width: 768px) {
  /*--------Administrador----------*/
  #adminCreate form {
    align-items: center;
  }
  .popuptext {
    margin-left: -100%;
  }

  #adminCreate input {
    height: 7vh;
    margin: 20px;
    text-align: center;
  }
  nav label {
    width: 126px;
    height: 45px;
    font-size: x-large;
    line-height: 41px;
  }
  nav li a {
    font-size: 1.5rem;
    color: black;
  }

  input.btn-crear {
    padding: 10px;
  }

  /*-------Párrafos-------*/

  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 2.8rem;
    font-weight: bold;
    color: #222222;
  }

  p {
    font-family: "Playfair Display", serif;
    line-height: 3rem;
    font-size: 1.8rem;
  }

  /*------Menú principal------*/
  
  #home .field {
    width: 60%;
  }

  #home .submit {
    width: 43%;
  }

  input[type="submit" i] {
    padding-left: 38%;
    font-size: 1.5rem;
  }
  #btn-search.btn-success {
    padding-left: 37%;
    font-size: 1.5rem;
  }

  #home .login-form-copy {
    font-size: 1.5rem;
  }

  /*--------Panel de Control-------*/

  #dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: calc(100vh - 75px);
    justify-content: space-evenly;
  }

  #dashboard img {
    width: 20vw;
  }
}


/*---------------------------ResponsiveTFullScreen---------------------------*/

@media (min-width: 1024px) {
  /*--------------------Responsive de p y h2-------------------------*/

  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: #222222;
  }

  p {
    font-family: "Playfair Display", serif;
    line-height: 3rem;
    font-size: 2.4rem;
  }

  /*-----------ADMINISTRADOR----------*/

  #adminCreate input {
    font-size: 2rem;
  }

  #adminCreate input {
    height: 5vh;
    margin: 25px;
    text-align: center;
  }

  /*Página principal*/

  #home .submit {
    padding-right: 103px;
    margin-bottom: 47px;
  }

  input[type="submit" i] {
    padding-left: 38%;
    font-size: 20%;
  }

  #home .login-form-copy {
    margin-top: 6px;
  }
  /*-----Panel de Control-----*/
  #dashboard img {
    width: 36vw;
  }

  nav label {
    width: 136px;
    height: 52px;
    font-size: x-large;
    line-height: 42px;
  }

  input {
    height: 56px;
  }

  #btn-search.btn-success {
    padding-left: 18%;
    font-size: 2rem;
    width: 50%;
  }


}
